COCOAPODS_PARALLEL_CODE_SIGN=
DART_OBFUSCATION=
FIREBASE_API_KEY=
FLUTTER_APPLICATION_PATH=
FLUTTER_BUILD_DIR=
FLUTTER_BUILD_NAME=
FLUTTER_BUILD_NUMBER=
FLUTTER_FRAMEWORK_SWIFT_PACKAGE_PATH=
FLUTTER_ROOT=
FLUTTER_TARGET=
GEMINI_API_KEY=
PACKAGE_CONFIG=
PORT=3000
TRACK_WIDGET_CREATION=
TREE_SHAKE_ICONS=
VITE_FIREBASE_API_KEY=
VITE_TRANSLATE_PROVIDER=