COCOAPODS_PARALLEL_CODE_SIGN=
DART_OBFUSCATION=
FLUTTER_APPLICATION_PATH=
FLUTTER_BUILD_DIR=
FLUTTER_BUILD_NAME=
FLUTTER_BUILD_NUMBER=
FLUTTER_FRAMEWORK_SWIFT_PACKAGE_PATH=
FLUTTER_ROOT=
FLUTTER_TARGET=
PACKAGE_CONFIG=
TRACK_WIDGET_CREATION=
TREE_SHAKE_ICONS=
VITE_TRANSLATE_PROVIDER=